In [4]:
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [5]:
# path = '/Users/aqian/Downloads/'
# #path = 'M:/Edmund'
# os.chdir(path)
df = pd.read_csv("NRD 2013 (machine learning).csv")
df.head()

C:\Users\Jason\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (34,79,80,81,82,83,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,new_leishmaniasis_adm,new_pcp_adm,chronic_pain,ibd_surgery_adm,tot_surgery_adm,tot_pq1,tot_pq2,tot_pq3,frailty_risk_score,frailty_risk_category
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,0,0,0,0,0.0,0.0,0.0,4.7,low
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,0,0,0,0,0,0.0,0.0,0.0,0.5,low
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,0,0,0,0,0.0,0.0,0.0,5.7,medium

In [6]:
# List all of the column names
print(df.columns.values)

['index' 'age' 'aweekend' 'died' 'discwt' 'dispuniform' 'dmonth' 'dqtr'
 'drg' 'drgver' 'drg_nopoa' 'dx1' 'dx2' 'dx3' 'dx4' 'dx5' 'dx6' 'dx7'
 'dx8' 'dx9' 'dx10' 'dx11' 'dx12' 'dx13' 'dx14' 'dx15' 'dx16' 'dx17'
 'dx18' 'dx19' 'dx20' 'dx21' 'dx22' 'dx23' 'dx24' 'dx25' 'dxccs1' 'dxccs2'
 'dxccs3' 'dxccs4' 'dxccs5' 'dxccs6' 'dxccs7' 'dxccs8' 'dxccs9' 'dxccs10'
 'dxccs11' 'dxccs12' 'dxccs13' 'dxccs14' 'dxccs15' 'dxccs16' 'dxccs17'
 'dxccs18' 'dxccs19' 'dxccs20' 'dxccs21' 'dxccs22' 'dxccs23' 'dxccs24'
 'dxccs25' 'elective' 'female' 'hcup_ed' 'hosp_nrd' 'key_nrd' 'los' 'mdc'
 'mdc_nopoa' 'nchronic' 'ndx' 'necode' 'npr' 'nrd_daystoevent'
 'nrd_stratum' 'nrd_visitlink' 'orproc' 'pay1' 'pl_nchs' 'pr1' 'pr2' 'pr3'
 'pr4' 'pr5' 'pr6' 'pr7' 'pr8' 'pr9' 'pr10' 'pr11' 'pr12' 'pr13' 'pr14'
 'pr15' 'prccs1' 'prccs2' 'prccs3' 'prccs4' 'prccs5' 'prccs6' 'prccs7'
 'prccs8' 'prccs9' 'prccs10' 'prccs11' 'prccs12' 'prccs13' 'prccs14'
 'prccs15' 'rehabtransfer' 'resident' 'samedayevent' 'totchg' 'year'
 'zipinc_qrtl' 'aprdrg' 'aprdrg_risk_mortality' 'aprdrg_severity'
 'cm_aids' 'cm_alcohol' 'cm_anemdef' 'cm_arth' 'cm_bldloss' 'cm_chf'
 'cm_chrnlung' 'cm_coag' 'cm_depress' 'cm_dm' 'cm_dmcx' 'cm_drug'
 'cm_htn_c' 'cm_hypothy' 'cm_liver' 'cm_lymph' 'cm_lytes' 'cm_mets'
 'cm_neuro' 'cm_obese' 'cm_para' 'cm_perivasc' 'cm_psych' 'cm_pulmcirc'
 'cm_renlfail' 'cm_tumor' 'cm_ulcer' 'cm_valve' 'cm_wghtloss' 'diabetes'
 'copd' 'cm_smoking' 'ibd_dx_index' 'crohn_index' 'hosp_bedsize'
 'h_contrl' 'hosp_urcat4' 'hosp_ur_teach' 'n_disc_u' 'n_hosp_u' 's_disc_u'
 's_hosp_u' 'total_disc' 'hosp_urban_rural_location' 'payer' 'ccr_nrd'
 'wageindex' '_merge' 'inpt_charges' 'ibd' 'ibd_flag' 'total_adm_num'
 'ibd_adm_num' 'ibd_adm_total' 'ibd_index_hosp' 'ibd_index_six_months'
 'ibd_index_death' 'ibd_index_after_june' 'ibd_index_flag_exclude'
 'ibd_min_dmonth' 'ibd_total_los' 'dmonth_dead' 'dmonth_dead_fu'
 'ibd_fu_v1' 'ibd_fu_v2' 'ibd_alive_fu' 'before_ibd_index_adm'
 'total_before_ibd_index' 'before_ibd_index' 'ibdtotaladm_from_index'
 'ibdtotlos_alive_fu' 'ibdtotadm_alive_fu' 'ibd_total_charges'
 'ibdtotcharges_alive_fu' 'age_group' 'young_quintile'
 'young_quintile_flag' 'sum_young' 'middle_quintile'
 'middle_quintile_flag' 'sum_middle' 'old_quintile' 'old_quintile_flag'
 'sum_old' 'ibd_young_quartile' 'ibd_middle_quartile' 'ibd_old_quartile'
 'tot_ibd_death' 'gi_or_hepatic_proc_index' 'blood_transfusion'
 'parenteral_or_enteral_index' 'ibd_procedures' 'tot_gi_or_hepatic_proc'
 'max_nrd_daystoevent' 'ibd_max_daystoevent' 'ibd_readm' 'ibd_tot_readm'
 'ibd_net_readm' 'ibd_colostomy_adm' 'tot_colostomy_adm'
 'ibd_ileostomy_adm' 'tot_ileoostomy_adm' 'ibd_smallbowelresect_adm'
 'tot_smallbowelresect_adm' 'ibd_colonresect_adm' 'tot_colonresect_adm'
 'ibd_localexcise_adm' 'tot_localexcise_adm' 'ibd_exlap_adm'
 'tot_exlap_adm' 'ibd_lysis_adm' 'tot_lysis_adm' 'tot_blood_transfusion'
 'tot_parenteral_or_enteral' 'tot_ibd_procedures' 'cc_mi' 'cc_chf'
 'cc_pervasc' 'cc_cvd' 'cc_dementia' 'cc_pulm' 'cc_rheumatic' 'cc_pud'
 'cc_mild_liver' 'cc_dm_wocomp' 'cc_dm_w_comp' 'cc_hemi_or_para'
 'cc_renal' 'cc_malignancy' 'cc_mod_severe_liver' 'cc_met_solidtumor'
 'cc_aids_hiv' 'cc_index' 'new_cc_index' 'fractures' 'thromboses'
 'tot_thromboses' 'unplanned_adm' 'tot_unplanned' 'pq1_dm_short'
 'pq2_perf_appendix' 'pq3_dm_long' 'pq5_copd_asthma' 'pq7_htn' 'cardiac'
 'pq8_chf' 'pq10_dehydrate' 'pq11_bacterialpna' 'pq12_uti' 'pq13_angina'
 'pq14_diabeteswocomp' 'pq15_asthma' 'pq16_dm_amputate' 'dm'
 'top_quintile_flag' 'ibd_young_quintile' 'ibd_middle_quintile'
 'ibd_old_quintile' 'dibd_young_quintile' 'dibd_middle_quintile'
 'dibd_old_quintile' 'top_ibd' 'top_decile_ibd' 'new_mi_adm' 'new_chf_adm'
 'new_unstableangina_adm' 'new_arrhythmia_adm' 'new_cardiacarrest_adm'
 'new_meningitis_adm' 'new_encephalitis_adm' 'new_endocarditis_adm'
 'new_pneumonia_adm' 'new_pyelonephritis_adm' 'new_osteo_adm'
 'new_septicemia_adm' 'new_cdiff_adm' 'new_tb_adm' 'new_atypicalmyco_adm'
 'new_fungal_adm' 'new_listeriosis_adm' 'new_leishmaniasis_adm'
 'new_pcp_adm' 'chronic_pain' 'ibd_surgery_adm' 'tot_surgery_adm'
 'tot_pq1' 'tot_pq2' 'tot_pq3' 'frailty_risk_score'
 'frailty_risk_category']

In [7]:
# Check the top 15 rows
df.head(15)

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,new_leishmaniasis_adm,new_pcp_adm,chronic_pain,ibd_surgery_adm,tot_surgery_adm,tot_pq1,tot_pq2,tot_pq3,frailty_risk_score,frailty_risk_category
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,0,0,0,0,0.0,0.0,0.0,4.7,low
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,0,0,0,0,0,0.0,0.0,0.0,0.5,low
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,0,0,0,0,0.0,0.0,0.0,5.7,medium
5,5,66,0,0.0,2.242874,1.0,6,2,309,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
6,6,66,0,0.0,1.919980,6.0,8,3,386,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
7,7,66,0,0.0,1.919980,6.0,9,3,329,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
8,8,66,1,0.0,1.919980,6.0,10,4,862,31,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
9,9,51,0,0.0,2.958993,1.0,3,1,354,30,...,0,0,0,0,0,0.0,0.0,0.0,2.8,low
10,10,22,0,0.0,3.109660,1.0,1,1,330,30,...,0,0,0,0,0,0.0,0.0,0.0,3.8,low
11,11,33,1,0.0,1.061258,1.0,1,1,313,30,...,0,0,0,0,0,0.0,0.0,0.0,1.5,low
12,12,33,0,0.0,1.061258,1.0,2,1,392,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
13,13,33,1,0.0,1.061258,1.0,3,1,386,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
14,14,33,0,0.0,1.061258,1.0,3,1,204,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN

In [8]:
# Make a copy of the dataframe
df_copy = df.copy()
df_copy.head(15)

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,new_leishmaniasis_adm,new_pcp_adm,chronic_pain,ibd_surgery_adm,tot_surgery_adm,tot_pq1,tot_pq2,tot_pq3,frailty_risk_score,frailty_risk_category
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,0,0,0,0,0.0,0.0,0.0,4.7,low
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,0,0,0,0,0,0.0,0.0,0.0,0.5,low
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,0,0,0,0,0.0,0.0,0.0,5.7,medium
5,5,66,0,0.0,2.242874,1.0,6,2,309,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
6,6,66,0,0.0,1.919980,6.0,8,3,386,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
7,7,66,0,0.0,1.919980,6.0,9,3,329,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
8,8,66,1,0.0,1.919980,6.0,10,4,862,31,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
9,9,51,0,0.0,2.958993,1.0,3,1,354,30,...,0,0,0,0,0,0.0,0.0,0.0,2.8,low
10,10,22,0,0.0,3.109660,1.0,1,1,330,30,...,0,0,0,0,0,0.0,0.0,0.0,3.8,low
11,11,33,1,0.0,1.061258,1.0,1,1,313,30,...,0,0,0,0,0,0.0,0.0,0.0,1.5,low
12,12,33,0,0.0,1.061258,1.0,2,1,392,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
13,13,33,1,0.0,1.061258,1.0,3,1,386,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
14,14,33,0,0.0,1.061258,1.0,3,1,204,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN

In [9]:
# Check the back end of the data
df_copy.tail(15)

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,new_leishmaniasis_adm,new_pcp_adm,chronic_pain,ibd_surgery_adm,tot_surgery_adm,tot_pq1,tot_pq2,tot_pq3,frailty_risk_score,frailty_risk_category
94483,94483,66,0,0.0,1.814426,1.0,5,2,544,30,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
94484,94484,66,1,0.0,1.814426,1.0,5,2,543,30,...,0,0,0,0,0,0.0,0.0,0.0,0.5,low
94485,94485,66,0,0.0,1.814426,6.0,6,2,543,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94486,94486,67,1,0.0,1.814426,6.0,7,3,543,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94487,94487,67,0,0.0,1.814426,6.0,8,3,543,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94488,94488,67,1,0.0,1.814426,6.0,8,3,542,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94489,94489,67,0,0.0,1.814426,1.0,9,3,543,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94490,94490,67,0,0.0,1.814426,5.0,12,4,490,31,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94491,94491,32,1,0.0,1.625102,1.0,4,2,775,30,...,0,0,0,0,0,0.0,0.0,0.0,0.0,low
94492,94492,54,0,0.0,1.995433,1.0,3,1,345,30,...,0,0,0,0,0,0.0,0.0,0.0,0.0,low
94493,94493,44,0,0.0,1.669010,6.0,6,2,331,30,...,0,0,0,0,0,0.0,0.0,0.0,0.0,low
94494,94494,44,0,0.0,1.669010,1.0,8,3,346,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94495,94495,44,0,0.0,1.669010,1.0,8,3,393,30,...,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN
94496,94496,52,0,0.0,1.863343,1.0,2,1,472,30,...,0,0,0,0,0,0.0,0.0,0.0,1.5,low
94497,94497,72,1,0.0,1.771707,1.0,2,1,385,30,...,0,0,0,0,0,0.0,0.0,0.0,4.7,low

In [10]:
# Check the data 
# Looks like the ibd_readm variables contains "NA" values

df_copy[['nrd_visitlink','ibd_index_hosp', 'dx1', 'new_mi_adm', 'ibd_readm']].head(25)

   nrd_visitlink  ibd_index_hosp    dx1  new_mi_adm  ibd_readm
0         00017u               1  00845           0        NaN
1         00017u               0   0389           0        1.0
2         00017u               0  03842           0        1.0
3         0004o5               1   5559           0        NaN
4         000dbz               1   5559           0        NaN
5         000dbz               0  42731           0        1.0
6         000dbz               0   5559           0        1.0
7         000dbz               0   5552           0        1.0
8         000dbz               0  99859           0        1.0
9         000mgu               1  55221           0        NaN
10        0018do               1   V552           0        NaN
11        001nun               1  78659           0        NaN
12        001nun               0  78904           0        1.0
13        001nun               0   5569           0        1.0
14        001nun               0  78652           0        1.0
15        001nun               0   5569           0        1.0
16        001nun               0   5569           0        1.0
17        001nun               0   5569           0        1.0
18        003601               0  56969           0        NaN
19        003601               1   5990           0        NaN
20        003601               0   6824           0        1.0
21        0047y1               0  82021           0        NaN
22        0047y1               1   0389           0        NaN
23        004816               1   5609           0        NaN
24        004816               0   5921           0        1.0

In [11]:
# Recoding the ibd_readm outcome variable
readm_set = set()
for row in df_copy.itertuples():
    if row.ibd_readm == 1:
        readm_set.add(row.nrd_visitlink)
        
readm_list = list(readm_set)

df_copy.loc[df_copy.nrd_visitlink.isin(readm_list), 'ibd_readm'] = '1'
df_copy[['nrd_visitlink','ibd_index_hosp', 'ibd_readm']].head(25)

AttributeError: 'tuple' object has no attribute 'ibd_readm'

In [51]:
df_copy['ibd_readm'] = df_copy['ibd_readm'].fillna(0)

df_copy[['nrd_visitlink', 'pay1', 'ibd_index_hosp', 'ibd_readm']].head(25)

   nrd_visitlink  pay1  ibd_index_hosp ibd_readm
0         00017u   1.0               1         1
1         00017u   1.0               0         1
2         00017u   1.0               0         1
3         0004o5   3.0               1         0
4         000dbz   1.0               1         1
5         000dbz   1.0               0         1
6         000dbz   1.0               0         1
7         000dbz   1.0               0         1
8         000dbz   1.0               0         1
9         000mgu   3.0               1         0
10        0018do   2.0               1         0
11        001nun   2.0               1         1
12        001nun   2.0               0         1
13        001nun   2.0               0         1
14        001nun   2.0               0         1
15        001nun   2.0               0         1
16        001nun   2.0               0         1
17        001nun   2.0               0         1
18        003601   1.0               0         1
19        003601   1.0               1         1
20        003601   1.0               0         1
21        0047y1   1.0               0         0
22        0047y1   1.0               1         0
23        004816   3.0               1         1
24        004816   3.0               0         1

In [10]:
# Number of index hospitalizations
index_hosp_counts = df_copy['ibd_index_hosp'].value_counts()
index_hosp_counts

1    47402
0    47096
Name: ibd_index_hosp, dtype: int64

In [11]:
# Number of readmissions within six months
readm_counts = df_copy['ibd_readm'].value_counts()
readm_counts

1    64373
0    30125
Name: ibd_readm, dtype: int64

In [12]:
# Filter the data so that only patients with an index hospitalizations are in a DataFrame
readm_data_df = df_copy.loc[df_copy["ibd_index_hosp"] == 1, :]

# Check to ensure the filter worked correctly
readm_data_df["ibd_index_hosp"].count()

47402

In [13]:
# Number of rows with null values
readm_data_df.isna().sum()

index                     0
age                       0
aweekend                  0
died                     14
discwt                    0
                         ..
tot_pq1                   0
tot_pq2                   0
tot_pq3                   0
frailty_risk_score        0
frailty_risk_category     0
Length: 308, dtype: int64

In [14]:
# Drop all rows with null values
readm_data_df.dropna(axis='columns')

# # Check the data
# print(readm_data_df["ibd_index_hosp"].count())
# print('-' * 15)

# # Check the data 
# print(readm_data_df.head(15))
# print('-' * 15)

# # Check the data 
# print(readm_data_df.tail(15))
# print('-' * 15)

,index,age,aweekend,discwt,dmonth,dqtr,drg,drgver,drg_nopoa,dx1,...,new_leishmaniasis_adm,new_pcp_adm,chronic_pain,ibd_surgery_adm,tot_surgery_adm,tot_pq1,tot_pq2,tot_pq3,frailty_risk_score,frailty_risk_category
0,0,89,1,1.071937,3,1,372,30,372,00845,...,0,0,0,0,0,0.0,0.0,0.0,4.7,low
3,3,48,0,3.063669,6,2,330,30,330,5559,...,0,0,0,0,0,0.0,0.0,0.0,0.5,low
4,4,65,0,1.919980,5,2,387,30,387,5559,...,0,0,0,0,0,0.0,0.0,0.0,5.7,medium
9,9,51,0,2.958993,3,1,354,30,354,55221,...,0,0,0,0,0,0.0,0.0,0.0,2.8,low
10,10,22,0,3.109660,1,1,330,30,330,V552,...,0,0,0,0,0,0.0,0.0,0.0,3.8,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94491,94491,32,1,1.625102,4,2,775,30,775,66411,...,0,0,0,0,0,0.0,0.0,0.0,0.0,low
94492,94492,54,0,1.995433,3,1,345,30,345,V552,...,0,0,0,0,0,0.0,0.0,0.0,0.0,low
94493,94493,44,0,1.669010,6,2,331,30,331,5568,...,0,0,0,0,0,0.0,0.0,0.0,0.0,low
94496,94496,52,0,1.863343,2,1,472,30,472,7220,...,0,0,0,0,0,0.0,0.0,0.0,1.5,low
94497,94497,72,1,1.771707,2,1,385,30,385,5550,...,0,0,0,0,0,0.0,0.0,0.0,4.7,low

In [15]:
print(readm_data_df.columns.values)

['index' 'age' 'aweekend' 'died' 'discwt' 'dispuniform' 'dmonth' 'dqtr'
 'drg' 'drgver' 'drg_nopoa' 'dx1' 'dx2' 'dx3' 'dx4' 'dx5' 'dx6' 'dx7'
 'dx8' 'dx9' 'dx10' 'dx11' 'dx12' 'dx13' 'dx14' 'dx15' 'dx16' 'dx17'
 'dx18' 'dx19' 'dx20' 'dx21' 'dx22' 'dx23' 'dx24' 'dx25' 'dxccs1' 'dxccs2'
 'dxccs3' 'dxccs4' 'dxccs5' 'dxccs6' 'dxccs7' 'dxccs8' 'dxccs9' 'dxccs10'
 'dxccs11' 'dxccs12' 'dxccs13' 'dxccs14' 'dxccs15' 'dxccs16' 'dxccs17'
 'dxccs18' 'dxccs19' 'dxccs20' 'dxccs21' 'dxccs22' 'dxccs23' 'dxccs24'
 'dxccs25' 'elective' 'female' 'hcup_ed' 'hosp_nrd' 'key_nrd' 'los' 'mdc'
 'mdc_nopoa' 'nchronic' 'ndx' 'necode' 'npr' 'nrd_daystoevent'
 'nrd_stratum' 'nrd_visitlink' 'orproc' 'pay1' 'pl_nchs' 'pr1' 'pr2' 'pr3'
 'pr4' 'pr5' 'pr6' 'pr7' 'pr8' 'pr9' 'pr10' 'pr11' 'pr12' 'pr13' 'pr14'
 'pr15' 'prccs1' 'prccs2' 'prccs3' 'prccs4' 'prccs5' 'prccs6' 'prccs7'
 'prccs8' 'prccs9' 'prccs10' 'prccs11' 'prccs12' 'prccs13' 'prccs14'
 'prccs15' 'rehabtransfer' 'resident' 'samedayevent' 'totchg' 'year'
 'zipinc_qrtl' 'aprdrg' 'aprdrg_risk_mortality' 'aprdrg_severity'
 'cm_aids' 'cm_alcohol' 'cm_anemdef' 'cm_arth' 'cm_bldloss' 'cm_chf'
 'cm_chrnlung' 'cm_coag' 'cm_depress' 'cm_dm' 'cm_dmcx' 'cm_drug'
 'cm_htn_c' 'cm_hypothy' 'cm_liver' 'cm_lymph' 'cm_lytes' 'cm_mets'
 'cm_neuro' 'cm_obese' 'cm_para' 'cm_perivasc' 'cm_psych' 'cm_pulmcirc'
 'cm_renlfail' 'cm_tumor' 'cm_ulcer' 'cm_valve' 'cm_wghtloss' 'diabetes'
 'copd' 'cm_smoking' 'ibd_dx_index' 'crohn_index' 'hosp_bedsize'
 'h_contrl' 'hosp_urcat4' 'hosp_ur_teach' 'n_disc_u' 'n_hosp_u' 's_disc_u'
 's_hosp_u' 'total_disc' 'hosp_urban_rural_location' 'payer' 'ccr_nrd'
 'wageindex' '_merge' 'inpt_charges' 'ibd' 'ibd_flag' 'total_adm_num'
 'ibd_adm_num' 'ibd_adm_total' 'ibd_index_hosp' 'ibd_index_six_months'
 'ibd_index_death' 'ibd_index_after_june' 'ibd_index_flag_exclude'
 'ibd_min_dmonth' 'ibd_total_los' 'dmonth_dead' 'dmonth_dead_fu'
 'ibd_fu_v1' 'ibd_fu_v2' 'ibd_alive_fu' 'before_ibd_index_adm'
 'total_before_ibd_index' 'before_ibd_index' 'ibdtotaladm_from_index'
 'ibdtotlos_alive_fu' 'ibdtotadm_alive_fu' 'ibd_total_charges'
 'ibdtotcharges_alive_fu' 'age_group' 'young_quintile'
 'young_quintile_flag' 'sum_young' 'middle_quintile'
 'middle_quintile_flag' 'sum_middle' 'old_quintile' 'old_quintile_flag'
 'sum_old' 'ibd_young_quartile' 'ibd_middle_quartile' 'ibd_old_quartile'
 'tot_ibd_death' 'gi_or_hepatic_proc_index' 'blood_transfusion'
 'parenteral_or_enteral_index' 'ibd_procedures' 'tot_gi_or_hepatic_proc'
 'max_nrd_daystoevent' 'ibd_max_daystoevent' 'ibd_readm' 'ibd_tot_readm'
 'ibd_net_readm' 'ibd_colostomy_adm' 'tot_colostomy_adm'
 'ibd_ileostomy_adm' 'tot_ileoostomy_adm' 'ibd_smallbowelresect_adm'
 'tot_smallbowelresect_adm' 'ibd_colonresect_adm' 'tot_colonresect_adm'
 'ibd_localexcise_adm' 'tot_localexcise_adm' 'ibd_exlap_adm'
 'tot_exlap_adm' 'ibd_lysis_adm' 'tot_lysis_adm' 'tot_blood_transfusion'
 'tot_parenteral_or_enteral' 'tot_ibd_procedures' 'cc_mi' 'cc_chf'
 'cc_pervasc' 'cc_cvd' 'cc_dementia' 'cc_pulm' 'cc_rheumatic' 'cc_pud'
 'cc_mild_liver' 'cc_dm_wocomp' 'cc_dm_w_comp' 'cc_hemi_or_para'
 'cc_renal' 'cc_malignancy' 'cc_mod_severe_liver' 'cc_met_solidtumor'
 'cc_aids_hiv' 'cc_index' 'new_cc_index' 'fractures' 'thromboses'
 'tot_thromboses' 'unplanned_adm' 'tot_unplanned' 'pq1_dm_short'
 'pq2_perf_appendix' 'pq3_dm_long' 'pq5_copd_asthma' 'pq7_htn' 'cardiac'
 'pq8_chf' 'pq10_dehydrate' 'pq11_bacterialpna' 'pq12_uti' 'pq13_angina'
 'pq14_diabeteswocomp' 'pq15_asthma' 'pq16_dm_amputate' 'dm'
 'top_quintile_flag' 'ibd_young_quintile' 'ibd_middle_quintile'
 'ibd_old_quintile' 'dibd_young_quintile' 'dibd_middle_quintile'
 'dibd_old_quintile' 'top_ibd' 'top_decile_ibd' 'new_mi_adm' 'new_chf_adm'
 'new_unstableangina_adm' 'new_arrhythmia_adm' 'new_cardiacarrest_adm'
 'new_meningitis_adm' 'new_encephalitis_adm' 'new_endocarditis_adm'
 'new_pneumonia_adm' 'new_pyelonephritis_adm' 'new_osteo_adm'
 'new_septicemia_adm' 'new_cdiff_adm' 'new_tb_adm' 'new_atypicalmyco_adm'
 'new_fungal_adm' 'new_listeriosis_adm' 'new_leishmaniasis_adm'
 'new_pcp_adm' 'chronic_pain' 'ibd_surgery_adm' 'tot_surgery_adm'
 'tot_pq1' 'tot_pq2' 'tot_pq3' 'frailty_risk_score'
 'frailty_risk_category']

In [52]:
# Grab the features
# data = readm_data_df[['age', 'zipinc_qrtl', 'female', 'los', 'pay1', 'new_cc_index', 'frailty_risk_score']]
data = readm_data_df[['age', 'female', 'los', 'new_cc_index', 'frailty_risk_score']]
feature_names = data.columns
data.head(25)

    age  female  los  new_cc_index  frailty_risk_score
0    89       0    4             2                 4.7
3    48       1    4             0                 0.5
4    65       0    5             0                 5.7
9    51       0    3             0                 2.8
10   22       0    6             0                 3.8
11   33       1    1             0                 1.5
19   84       1    7             0                 9.9
22   62       1   15             0                 6.1
23   40       1    3             0                 0.0
30   68       0    6             2                13.3
31   25       0    5             0                 0.4
32   82       1   12             2                 7.0
33   68       1   19             2                13.1
38   60       0    8             0                 0.9
39   40       1    3             0                 3.7
40   35       1    6             2                 9.0
41   59       1    4             0                 3.7
42   85       1    2             2                 3.2
43   86       0    8             1                11.7
46   57       1    7             1                 4.6
47   70       1    5             0                12.2
51   26       1    7             0                 1.4
55   57       1    1             0                10.0
56   26       1    4             0                14.2
58   69       0    3             2                 8.4

In [53]:
# Check the data types
data.dtypes

age                     int64
female                  int64
los                     int64
new_cc_index            int64
frailty_risk_score    float64
dtype: object

In [54]:
# Check for na values
data.isnull().sum()

age                   0
female                0
los                   0
new_cc_index          0
frailty_risk_score    0
dtype: int64

In [55]:
# Check the columns where there are null or missing values
data.count()

age                   47402
female                47402
los                   47402
new_cc_index          47402
frailty_risk_score    47402
dtype: int64

In [56]:
data.tail(25)

       age  female  los  new_cc_index  frailty_risk_score
94449   80       0    4             0                 3.2
94451   38       1    3             0                 1.8
94452   56       0    4             0                 4.1
94455   41       1    2             0                 0.0
94456   35       0   20             2                 3.7
94457   59       0    3             2                 5.3
94459   20       1    2             0                 0.8
94461   90       1    3             2                 1.4
94462   19       1   20             1                 2.6
94465   76       1    3             0                 3.0
94466   72       1    6             2                 2.3
94467   69       1    3             0                 0.0
94468   35       1    1             1                 0.0
94469   29       1    2             0                 0.0
94470   78       1    6             2                16.7
94471   27       0    4             0                 0.0
94472   34       0    7             2                 6.5
94480   50       1    6             0                 3.9
94482   20       1    6             0                 5.3
94484   66       1    6             2                 0.5
94491   32       1    3             0                 0.0
94492   54       0    4             0                 0.0
94493   44       0    9             0                 0.0
94496   52       1    2             2                 1.5
94497   72       0    4             1                 4.7

In [57]:
# Identify outcome variable 
target = readm_data_df["ibd_readm"]
target_names = ["none", "readmitted"]
target.head(25)

0     1
3     0
4     1
9     0
10    0
11    1
19    1
22    0
23    1
30    0
31    0
32    0
33    1
38    0
39    0
40    0
41    0
42    0
43    1
46    0
47    1
51    1
55    0
56    1
58    1
Name: ibd_readm, dtype: object

In [58]:
target = target.astype('int64')
target

0        1
3        0
4        1
9        0
10       0
        ..
94491    0
94492    0
94493    1
94496    0
94497    0
Name: ibd_readm, Length: 47402, dtype: int64

In [59]:
# # Change one of the variables

# from sklearn.preprocessing import LabelEncoder

# # Step 1: Label-encode data set
# label_encoder = LabelEncoder()
# label_encoder.fit(y)
# encoded_y = label_encoder.transform(y)

In [60]:
# Set up training and testing datasets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [61]:
# Build the random forrest classifier

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5515990211796473

In [62]:
# Fit the model on the test dataset and evaluate the output

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5521053075689816

In [63]:
# Evaluate the features of the model

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.41347612155566166, 'frailty_risk_score'),
 (0.406405061436848, 'age'),
 (0.1381568412537643, 'los'),
 (0.022168383806433472, 'new_cc_index'),
 (0.019793591947292622, 'female')]