In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [2]:
# path = '/Users/aqian/Downloads/'
# #path = 'M:/Edmund'
# os.chdir(path)
df = pd.read_csv("../../NRD 2013 (machine learning).csv")
df.head()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [3]:
# List all of the column names
print(df.columns.values)

['index' 'age' 'aweekend' 'died' 'discwt' 'dispuniform' 'dmonth' 'dqtr'
 'drg' 'drgver' 'drg_nopoa' 'dx1' 'dx2' 'dx3' 'dx4' 'dx5' 'dx6' 'dx7'
 'dx8' 'dx9' 'dx10' 'dx11' 'dx12' 'dx13' 'dx14' 'dx15' 'dx16' 'dx17'
 'dx18' 'dx19' 'dx20' 'dx21' 'dx22' 'dx23' 'dx24' 'dx25' 'dxccs1' 'dxccs2'
 'dxccs3' 'dxccs4' 'dxccs5' 'dxccs6' 'dxccs7' 'dxccs8' 'dxccs9' 'dxccs10'
 'dxccs11' 'dxccs12' 'dxccs13' 'dxccs14' 'dxccs15' 'dxccs16' 'dxccs17'
 'dxccs18' 'dxccs19' 'dxccs20' 'dxccs21' 'dxccs22' 'dxccs23' 'dxccs24'
 'dxccs25' 'elective' 'female' 'hcup_ed' 'hosp_nrd' 'key_nrd' 'los' 'mdc'
 'mdc_nopoa' 'nchronic' 'ndx' 'necode' 'npr' 'nrd_daystoevent'
 'nrd_stratum' 'nrd_visitlink' 'orproc' 'pay1' 'pl_nchs' 'pr1' 'pr2' 'pr3'
 'pr4' 'pr5' 'pr6' 'pr7' 'pr8' 'pr9' 'pr10' 'pr11' 'pr12' 'pr13' 'pr14'
 'pr15' 'prccs1' 'prccs2' 'prccs3' 'prccs4' 'prccs5' 'prccs6' 'prccs7'
 'prccs8' 'prccs9' 'prccs10' 'prccs11' 'prccs12' 'prccs13' 'prccs14'
 'prccs15' 'rehabtransfer' 'resident' 'samedayevent' 'totchg' 'year'
 'zipinc_qrtl' 'aprdrg' 'aprdrg_risk_mortality' 'aprdrg_severity'
 'cm_aids' 'cm_alcohol' 'cm_anemdef' 'cm_arth' 'cm_bldloss' 'cm_chf'
 'cm_chrnlung' 'cm_coag' 'cm_depress' 'cm_dm' 'cm_dmcx' 'cm_drug'
 'cm_htn_c' 'cm_hypothy' 'cm_liver' 'cm_lymph' 'cm_lytes' 'cm_mets'
 'cm_neuro' 'cm_obese' 'cm_para' 'cm_perivasc' 'cm_psych' 'cm_pulmcirc'
 'cm_renlfail' 'cm_tumor' 'cm_ulcer' 'cm_valve' 'cm_wghtloss' 'diabetes'
 'copd' 'cm_smoking' 'ibd_dx_index' 'crohn_index' 'hosp_bedsize'
 'h_contrl' 'hosp_urcat4' 'hosp_ur_teach' 'n_disc_u' 'n_hosp_u' 's_disc_u'
 's_hosp_u' 'total_disc' 'hosp_urban_rural_location' 'payer' 'ccr_nrd'
 'wageindex' '_merge' 'inpt_charges' 'ibd' 'ibd_flag' 'total_adm_num'
 'ibd_adm_num' 'ibd_adm_total' 'ibd_index_hosp' 'ibd_index_six_months'
 'ibd_index_death' 'ibd_index_after_june' 'ibd_index_flag_exclude'
 'ibd_min_dmonth' 'ibd_total_los' 'dmonth_dead' 'dmonth_dead_fu'
 'ibd_fu_v1' 'ibd_fu_v2' 'ibd_alive_fu' 'before_ibd_index_adm'
 'total_before_ibd_index' 'before_ibd_index' 'ibdtotaladm_from_index'
 'ibdtotlos_alive_fu' 'ibdtotadm_alive_fu' 'ibd_total_charges'
 'ibdtotcharges_alive_fu' 'age_group' 'young_quintile'
 'young_quintile_flag' 'sum_young' 'middle_quintile'
 'middle_quintile_flag' 'sum_middle' 'old_quintile' 'old_quintile_flag'
 'sum_old' 'ibd_young_quartile' 'ibd_middle_quartile' 'ibd_old_quartile'
 'tot_ibd_death' 'gi_or_hepatic_proc_index' 'blood_transfusion'
 'parenteral_or_enteral_index' 'ibd_procedures' 'tot_gi_or_hepatic_proc'
 'max_nrd_daystoevent' 'ibd_max_daystoevent' 'ibd_readm' 'ibd_tot_readm'
 'ibd_net_readm' 'ibd_colostomy_adm' 'tot_colostomy_adm'
 'ibd_ileostomy_adm' 'tot_ileoostomy_adm' 'ibd_smallbowelresect_adm'
 'tot_smallbowelresect_adm' 'ibd_colonresect_adm' 'tot_colonresect_adm'
 'ibd_localexcise_adm' 'tot_localexcise_adm' 'ibd_exlap_adm'
 'tot_exlap_adm' 'ibd_lysis_adm' 'tot_lysis_adm' 'tot_blood_transfusion'
 'tot_parenteral_or_enteral' 'tot_ibd_procedures' 'cc_mi' 'cc_chf'
 'cc_pervasc' 'cc_cvd' 'cc_dementia' 'cc_pulm' 'cc_rheumatic' 'cc_pud'
 'cc_mild_liver' 'cc_dm_wocomp' 'cc_dm_w_comp' 'cc_hemi_or_para'
 'cc_renal' 'cc_malignancy' 'cc_mod_severe_liver' 'cc_met_solidtumor'
 'cc_aids_hiv' 'cc_index' 'new_cc_index' 'fractures' 'thromboses'
 'tot_thromboses' 'unplanned_adm' 'tot_unplanned' 'pq1_dm_short'
 'pq2_perf_appendix' 'pq3_dm_long' 'pq5_copd_asthma' 'pq7_htn' 'cardiac'
 'pq8_chf' 'pq10_dehydrate' 'pq11_bacterialpna' 'pq12_uti' 'pq13_angina'
 'pq14_diabeteswocomp' 'pq15_asthma' 'pq16_dm_amputate' 'dm'
 'top_quintile_flag' 'ibd_young_quintile' 'ibd_middle_quintile'
 'ibd_old_quintile' 'dibd_young_quintile' 'dibd_middle_quintile'
 'dibd_old_quintile' 'top_ibd' 'top_decile_ibd' 'new_mi_adm' 'new_chf_adm'
 'new_unstableangina_adm' 'new_arrhythmia_adm' 'new_cardiacarrest_adm'
 'new_meningitis_adm' 'new_encephalitis_adm' 'new_endocarditis_adm'
 'new_pneumonia_adm' 'new_pyelonephritis_adm' 'new_osteo_adm'
 'new_septicemia_adm' 'new_cdiff_adm' 'new_tb_adm' 'new_atypicalmyco_adm'
 'new_fungal_adm' 'new_listeriosis_adm' 'new_leishmaniasis_adm'
 'new_pcp_adm' 'chronic_pain' 'ibd_surgery_adm' 'tot_surgery_adm'
 'tot_pq1' 'tot_pq2' 'tot_pq3' 'frailty_risk_score'
 'frailty_risk_category' 'frailty_risk_category_index' 'prevent_readm'
 'tot_prevent_readm' 'cardiac_adm' 'cvd_adm' 'resp_adm' 'infxn_adm'
 'gu_adm' 'gi_adm' 'endo_adm' 'neuro_adm' 'malignancies_adm'
 'fracture_adm' 'thrombosis_adm' 'ibd_specific_adm' 'others_adm'
 'ibd_index_discharge_date' 'readmission_time' 'was_readmitted'
 'died_in_sixmo' 'did_die_in_sixmo' 'unplanned_in_sixmo'
 'did_unplanned_in_sixmo' 'prevent_in_sixmo' 'did_prevent_in_sixmo'
 'proc_in_sixmo' 'did_proc_in_sixmo' 'surgery_in_sixmo'
 'did_surgery_in_sixmo' 'survtime' 'censor_readm' 'death_time'
 'censor_death' 'surgtime' 'censor_surg' 'severe_IBD_hospitalization'
 'severetime' 'censor_severe' 'severe_in_sixmo' 'did_severe_in_sixmo'
 '_st' '_d' '_t' '_t0' '_Iage_group_1' '_Iage_group_2' '_Inew_cc_in_1'
 '_Inew_cc_in_2' '_Ipayer_2' '_Ipayer_3' '_Ipayer_4' '_Izipinc_qr_2'
 '_Izipinc_qr_3' '_Izipinc_qr_4']

In [4]:
# Check the top 15 rows
df.head()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [5]:
# Make a copy of the dataframe
df_copy = df.copy()
df_copy.head()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
# Check the back end of the data
df_copy.tail()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
94493,94493,44,0,0.0,1.669010,6.0,6,2,331,30,...,1,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
94494,94494,44,0,0.0,1.669010,1.0,8,3,346,30,...,1,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
94495,94495,44,0,0.0,1.669010,1.0,8,3,393,30,...,1,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
94496,94496,52,0,0.0,1.863343,1.0,2,1,472,30,...,1,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0
94497,94497,72,1,0.0,1.771707,1.0,2,1,385,30,...,0,1,1,0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
# Check the data 
# Looks like the ibd_readm variables contains "NA" values

df_copy = df_copy[['nrd_visitlink',
 'ibd_readm', 
 'age',
 'female',
 'los',
 'aweekend',
 'elective',
 'orproc',
 'hosp_urban_rural_location',
 'payer',
 'zipinc_qrtl',
 'severe_IBD_hospitalization',
 'cm_aids',
 'cm_alcohol',
 'cm_anemdef',
 'cm_arth',
 'cm_bldloss',
 'cm_chf',
 'cm_chrnlung',
 'cm_depress',
 'cm_coag',
 'cm_dm',
 'cm_dmcx',
 'cm_drug',
 'cm_htn_c',
 'cm_hypothy',
 'cm_liver',
 'cm_lymph',
 'cm_lytes',
 'cm_mets',
 'cm_neuro',
 'cm_obese',
 'cm_para',
 'cm_perivasc',
 'cm_psych',
 'cm_pulmcirc',
 'cm_renlfail',
 'cm_tumor',
 'cm_ulcer',
 'cm_valve',
 'cm_wghtloss',
 'diabetes',
 'copd',
 'cm_smoking',
 'blood_transfusion',
 'ibd_procedures',
 'cc_index',
 'new_cc_index',
 'fractures',
 'thromboses',
 'unplanned_adm',
 'pq1_dm_short',
 'pq2_perf_appendix',
 'pq3_dm_long',
 'pq5_copd_asthma',
 'pq7_htn',
 'pq8_chf',
 'pq10_dehydrate',
 'pq11_bacterialpna',
 'pq12_uti',
 'pq13_angina',
 'pq14_diabeteswocomp',
 'pq15_asthma',
 'pq16_dm_amputate',
 'new_mi_adm',
 'new_chf_adm',
 'new_unstableangina_adm',
 'new_arrhythmia_adm',
 'new_cardiacarrest_adm',
 'new_meningitis_adm',
 'new_encephalitis_adm',
 'new_endocarditis_adm',
 'new_pneumonia_adm',
 'new_pyelonephritis_adm',
 'new_osteo_adm',
 'new_septicemia_adm',
 'new_cdiff_adm',
 'new_tb_adm',
 'new_atypicalmyco_adm',
 'new_fungal_adm',
 'new_listeriosis_adm',
 'new_leishmaniasis_adm',
 'new_pcp_adm',
 'chronic_pain',
 'ibd_surgery_adm',
 'frailty_risk_score',
 'frailty_risk_category',
 'frailty_risk_category_index',
 'h_contrl',
 'hosp_bedsize',
 'hosp_ur_teach',
 'hosp_urcat4',
 'prevent_readm',
 'cardiac_adm',
 'cvd_adm',
 'resp_adm',
 'infxn_adm',
 'gu_adm',
 'gi_adm',
 'endo_adm',
 'neuro_adm',
 'malignancies_adm',
 'fracture_adm',
 'thrombosis_adm',
 'ibd_specific_adm',
 'others_adm']]

In [8]:
df_copy

,nrd_visitlink,ibd_readm,age,female,los,aweekend,elective,orproc,hosp_urban_rural_location,payer,...,infxn_adm,gu_adm,gi_adm,endo_adm,neuro_adm,malignancies_adm,fracture_adm,thrombosis_adm,ibd_specific_adm,others_adm
0,00017u,0,89,0,4,1,0.0,0,0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,00017u,1,89,0,3,1,0.0,1,0,1.0,...,1,0,0,0,0,0,0,0,0,0
2,00017u,1,89,0,14,0,0.0,1,0,1.0,...,1,0,0,0,0,0,0,0,0,0
3,0004o5,0,48,1,4,0,1.0,1,0,2.0,...,0,0,0,0,0,0,0,0,1,0
4,000dbz,0,65,0,5,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94493,zzwwck,0,44,0,9,0,1.0,1,0,2.0,...,0,0,0,0,0,0,0,0,1,0
94494,zzwwck,1,44,0,4,0,1.0,1,0,2.0,...,0,0,1,0,0,0,0,0,0,0
94495,zzwwck,1,44,0,5,0,0.0,0,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94496,zzxq92,0,52,1,2,0,1.0,1,0,1.0,...,0,0,0,0,0,0,0,0,0,0
94497,zzzhlf,0,72,0,4,1,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
# Number of readmissions within six months
readm_counts = df_copy['ibd_readm'].value_counts()
readm_counts

1    64373
0    30125
Name: ibd_readm, dtype: int64

In [24]:
# Number of rows with null values
df_copy.isna().sum()

nrd_visitlink       0
ibd_readm           0
age                 0
female              0
los                 0
                   ..
malignancies_adm    0
fracture_adm        0
thrombosis_adm      0
ibd_specific_adm    0
others_adm          0
Length: 106, dtype: int64

In [57]:
# Grab the features
data = df_copydf_copy = df_copy[['nrd_visitlink',
 'ibd_readm', 
 'age',
 'female',
 'los',
 'aweekend',
 'elective',
 'orproc',
 'hosp_urban_rural_location',
 'payer',
 'zipinc_qrtl',
 'severe_IBD_hospitalization',
 'cm_aids',
 'cm_alcohol',
 'cm_anemdef',
 'cm_arth',
 'cm_bldloss',
 'cm_chf',
 'cm_chrnlung',
 'cm_depress',
 'cm_coag',
 'cm_dm',
 'cm_dmcx',
 'cm_drug',
 'cm_htn_c',
 'cm_hypothy',
 'cm_liver',
 'cm_lymph',
 'cm_lytes',
 'cm_mets',
 'cm_neuro',
 'cm_obese',
 'cm_para',
 'cm_perivasc',
 'cm_psych',
 'cm_pulmcirc',
 'cm_renlfail',
 'cm_tumor',
 'cm_ulcer',
 'cm_valve',
 'cm_wghtloss',
 'diabetes',
 'copd',
 'cm_smoking',
 'blood_transfusion',
 'ibd_procedures',
 'cc_index',
 'new_cc_index',
 'fractures',
 'thromboses',
 'unplanned_adm',
 'pq1_dm_short',
 'pq2_perf_appendix',
 'pq3_dm_long',
 'pq5_copd_asthma',
 'pq7_htn',
 'pq8_chf',
 'pq10_dehydrate',
 'pq11_bacterialpna',
 'pq12_uti',
 'pq13_angina',
 'pq14_diabeteswocomp',
 'pq15_asthma',
 'pq16_dm_amputate',
 'new_mi_adm',
 'new_chf_adm',
 'new_unstableangina_adm',
 'new_arrhythmia_adm',
 'new_cardiacarrest_adm',
 'new_meningitis_adm',
 'new_encephalitis_adm',
 'new_endocarditis_adm',
 'new_pneumonia_adm',
 'new_pyelonephritis_adm',
 'new_osteo_adm',
 'new_septicemia_adm',
 'new_cdiff_adm',
 'new_tb_adm',
 'new_atypicalmyco_adm',
 'new_fungal_adm',
 'new_listeriosis_adm',
 'new_leishmaniasis_adm',
 'new_pcp_adm',
 'chronic_pain',
 'ibd_surgery_adm',
 'frailty_risk_score',
 'frailty_risk_category_index',
 'h_contrl',
 'hosp_bedsize',
 'hosp_ur_teach',
 'hosp_urcat4',
 'prevent_readm',
 'cardiac_adm',
 'cvd_adm',
 'resp_adm',
 'infxn_adm',
 'gu_adm',
 'gi_adm',
 'endo_adm',
 'neuro_adm',
 'malignancies_adm',
 'fracture_adm',
 'thrombosis_adm',
 'ibd_specific_adm',
 'others_adm']]
# data = readm_data_df[['age', 'female', 'los', 'new_cc_index', 'frailty_risk_score']]
feature_names = data.columns
data.head(5)

,nrd_visitlink,ibd_readm,age,female,los,aweekend,elective,orproc,hosp_urban_rural_location,payer,...,infxn_adm,gu_adm,gi_adm,endo_adm,neuro_adm,malignancies_adm,fracture_adm,thrombosis_adm,ibd_specific_adm,others_adm
0,00017u,1,89,0,4,1,0.0,0,0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,00017u,1,89,0,3,1,0.0,1,0,1.0,...,1,0,0,0,0,0,0,0,0,0
2,00017u,1,89,0,14,0,0.0,1,0,1.0,...,1,0,0,0,0,0,0,0,0,0
3,0004o5,0,48,1,4,0,1.0,1,0,2.0,...,0,0,0,0,0,0,0,0,1,0
4,000dbz,1,65,0,5,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
# Check the data types
data.dtypes

nrd_visitlink       object
ibd_readm           object
age                  int64
female               int64
los                  int64
                     ...
malignancies_adm     int64
fracture_adm         int64
thrombosis_adm       int64
ibd_specific_adm     int64
others_adm           int64
Length: 106, dtype: object

In [29]:
# Check for na values
data.isnull().sum()

nrd_visitlink       0
ibd_readm           0
age                 0
female              0
los                 0
                   ..
malignancies_adm    0
fracture_adm        0
thrombosis_adm      0
ibd_specific_adm    0
others_adm          0
Length: 106, dtype: int64

In [50]:
# Show rows where the null values are 
# Data check
check_data = df_copy
check_data[check_data.isna().any(axis=1)]

,nrd_visitlink,ibd_readm,age,female,los,aweekend,elective,orproc,hosp_urban_rural_location,payer,...,infxn_adm,gu_adm,gi_adm,endo_adm,neuro_adm,malignancies_adm,fracture_adm,thrombosis_adm,ibd_specific_adm,others_adm
147,0229f3,0,78,1,2,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0
175,02auaa,1,47,1,5,1,0.0,0,0,1.0,...,0,0,1,0,0,0,0,0,0,0
176,02auaa,1,47,1,4,1,0.0,0,0,1.0,...,0,0,1,0,0,0,0,0,0,0
282,043h2p,0,75,1,5,0,0.0,0,0,1.0,...,1,0,0,0,0,0,0,0,0,0
318,04j1ef,1,52,1,9,0,1.0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94372,zxrcm4,1,68,0,3,0,0.0,0,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94373,zxrcm4,1,68,0,3,0,0.0,0,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94385,zxrynt,1,90,1,7,0,0.0,1,0,1.0,...,0,0,0,1,0,0,0,0,0,0
94386,zxrynt,1,90,1,5,0,0.0,0,0,1.0,...,1,0,0,0,0,0,0,0,0,0
94387,zxrynt,1,90,1,6,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# Check the columns where there are null or missing values
data.count()

nrd_visitlink       94498
ibd_readm           94498
age                 94498
female              94498
los                 94498
                    ...
malignancies_adm    94498
fracture_adm        94498
thrombosis_adm      94498
ibd_specific_adm    94498
others_adm          94498
Length: 106, dtype: int64

In [52]:
data.tail(25)

,nrd_visitlink,ibd_readm,age,female,los,aweekend,elective,orproc,hosp_urban_rural_location,payer,...,infxn_adm,gu_adm,gi_adm,endo_adm,neuro_adm,malignancies_adm,fracture_adm,thrombosis_adm,ibd_specific_adm,others_adm
94473,zzn0wq,1,34,0,4,1,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
94474,zzn0wq,1,34,0,2,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0
94475,zzn0wq,1,34,0,3,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0
94476,zzn0wq,1,34,0,4,1,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0
94477,zzn0wq,1,34,0,3,0,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0
94478,zzn0wq,1,35,0,1,0,0.0,0,0,1.0,...,0,0,1,0,0,0,0,0,0,0
94479,zzn0wq,1,35,0,14,1,0.0,1,0,1.0,...,0,0,1,0,0,0,0,0,0,0
94480,zzq862,1,50,1,6,0,0.0,1,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94481,zzq862,1,50,1,2,0,0.0,1,0,2.0,...,0,0,1,0,0,0,0,0,0,0
94482,zzrc5b,0,20,1,6,0,0.0,0,0,2.0,...,0,0,0,0,0,0,0,0,1,0
94483,zzs3kb,1,66,1,3,0,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94484,zzs3kb,1,66,1,6,1,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94485,zzs3kb,1,66,1,20,0,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94486,zzs3kb,1,67,1,7,1,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94487,zzs3kb,1,67,1,17,0,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94488,zzs3kb,1,67,1,13,1,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94489,zzs3kb,1,67,1,6,0,0.0,0,0,2.0,...,0,0,0,0,0,1,0,0,0,0
94490,zzs3kb,1,67,1,12,0,1.0,1,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94491,zzt9y5,0,32,1,3,1,0.0,0,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94492,zzufqr,0,54,0,4,0,1.0,1,0,2.0,...,0,0,1,0,0,0,0,0,0,0
94493,zzwwck,1,44,0,9,0,1.0,1,0,2.0,...,0,0,0,0,0,0,0,0,1,0
94494,zzwwck,1,44,0,4,0,1.0,1,0,2.0,...,0,0,1,0,0,0,0,0,0,0
94495,zzwwck,1,44,0,5,0,0.0,0,0,2.0,...,0,0,0,0,0,0,0,0,0,0
94496,zzxq92,0,52,1,2,0,1.0,1,0,1.0,...,0,0,0,0,0,0,0,0,0,0
94497,zzzhlf,0,72,0,4,1,0.0,0,0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [58]:
# Identify outcome variable 
target = df_copy["ibd_readm"]
target_names = ["none", "readmitted"]
target.head(25)

0     1
1     1
2     1
3     0
4     1
5     1
6     1
7     1
8     1
9     0
10    0
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    0
22    0
23    1
24    1
Name: ibd_readm, dtype: object

In [59]:
target = target.astype('int64')
target

0        1
1        1
2        1
3        0
4        1
        ..
94493    1
94494    1
94495    1
94496    0
94497    0
Name: ibd_readm, Length: 94498, dtype: int64

In [44]:
# # Change one of the variables

# from sklearn.preprocessing import LabelEncoder

# # Step 1: Label-encode data set
# label_encoder = LabelEncoder()
# label_encoder.fit(y)
# encoded_y = label_encoder.transform(y)

In [60]:
# Set up training and testing datasets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [61]:
# Build the random forrest classifier

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: could not convert string to float: 'q6dcvu'

In [47]:
# Fit the model on the test dataset and evaluate the output

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

ValueError: could not convert string to float: 'q6dcvu'

In [38]:
# Evaluate the features of the model

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.4187393569226615, 'frailty_risk_score'),
 (0.40529742573967265, 'age'),
 (0.13412694363644825, 'los'),
 (0.022662018513261946, 'new_cc_index'),
 (0.019174255187955614, 'female')]

In [39]:
from sklearn import tree
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None, 
                  feature_names=new_feature_names,  
                      class_names=target_names,  
                      filled=True, rounded=True)  
#                      special_characters=False)

graph = graphviz.Source(dot_data)  
graph

NameError: name 'new_feature_names' is not defined

In [ ]:
new_feature_names = ['age', 'female', 'los', 'new_cc_index', 'frailty_risk_score']
new_feature_names

In [ ]:
target