In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
# path = '/Users/aqian/Downloads/'
# #path = 'M:/Edmund'
# os.chdir(path)
df = pd.read_csv("NRD 2013 (machine learning).csv")
df.head()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [3]:
# List all of the column names
print(df.columns.values)

['index' 'age' 'aweekend' 'died' 'discwt' 'dispuniform' 'dmonth' 'dqtr'
 'drg' 'drgver' 'drg_nopoa' 'dx1' 'dx2' 'dx3' 'dx4' 'dx5' 'dx6' 'dx7'
 'dx8' 'dx9' 'dx10' 'dx11' 'dx12' 'dx13' 'dx14' 'dx15' 'dx16' 'dx17'
 'dx18' 'dx19' 'dx20' 'dx21' 'dx22' 'dx23' 'dx24' 'dx25' 'dxccs1' 'dxccs2'
 'dxccs3' 'dxccs4' 'dxccs5' 'dxccs6' 'dxccs7' 'dxccs8' 'dxccs9' 'dxccs10'
 'dxccs11' 'dxccs12' 'dxccs13' 'dxccs14' 'dxccs15' 'dxccs16' 'dxccs17'
 'dxccs18' 'dxccs19' 'dxccs20' 'dxccs21' 'dxccs22' 'dxccs23' 'dxccs24'
 'dxccs25' 'elective' 'female' 'hcup_ed' 'hosp_nrd' 'key_nrd' 'los' 'mdc'
 'mdc_nopoa' 'nchronic' 'ndx' 'necode' 'npr' 'nrd_daystoevent'
 'nrd_stratum' 'nrd_visitlink' 'orproc' 'pay1' 'pl_nchs' 'pr1' 'pr2' 'pr3'
 'pr4' 'pr5' 'pr6' 'pr7' 'pr8' 'pr9' 'pr10' 'pr11' 'pr12' 'pr13' 'pr14'
 'pr15' 'prccs1' 'prccs2' 'prccs3' 'prccs4' 'prccs5' 'prccs6' 'prccs7'
 'prccs8' 'prccs9' 'prccs10' 'prccs11' 'prccs12' 'prccs13' 'prccs14'
 'prccs15' 'rehabtransfer' 'resident' 'samedayevent' 'totchg' 'year'
 'zipinc_qrtl' 'aprdrg' 'aprdrg_risk_mortality' 'aprdrg_severity'
 'cm_aids' 'cm_alcohol' 'cm_anemdef' 'cm_arth' 'cm_bldloss' 'cm_chf'
 'cm_chrnlung' 'cm_coag' 'cm_depress' 'cm_dm' 'cm_dmcx' 'cm_drug'
 'cm_htn_c' 'cm_hypothy' 'cm_liver' 'cm_lymph' 'cm_lytes' 'cm_mets'
 'cm_neuro' 'cm_obese' 'cm_para' 'cm_perivasc' 'cm_psych' 'cm_pulmcirc'
 'cm_renlfail' 'cm_tumor' 'cm_ulcer' 'cm_valve' 'cm_wghtloss' 'diabetes'
 'copd' 'cm_smoking' 'ibd_dx_index' 'crohn_index' 'hosp_bedsize'
 'h_contrl' 'hosp_urcat4' 'hosp_ur_teach' 'n_disc_u' 'n_hosp_u' 's_disc_u'
 's_hosp_u' 'total_disc' 'hosp_urban_rural_location' 'payer' 'ccr_nrd'
 'wageindex' '_merge' 'inpt_charges' 'ibd' 'ibd_flag' 'total_adm_num'
 'ibd_adm_num' 'ibd_adm_total' 'ibd_index_hosp' 'ibd_index_six_months'
 'ibd_index_death' 'ibd_index_after_june' 'ibd_index_flag_exclude'
 'ibd_min_dmonth' 'ibd_total_los' 'dmonth_dead' 'dmonth_dead_fu'
 'ibd_fu_v1' 'ibd_fu_v2' 'ibd_alive_fu' 'before_ibd_index_adm'
 'total_before_ibd_index' 'before_ibd_index' 'ibdtotaladm_from_index'
 'ibdtotlos_alive_fu' 'ibdtotadm_alive_fu' 'ibd_total_charges'
 'ibdtotcharges_alive_fu' 'age_group' 'young_quintile'
 'young_quintile_flag' 'sum_young' 'middle_quintile'
 'middle_quintile_flag' 'sum_middle' 'old_quintile' 'old_quintile_flag'
 'sum_old' 'ibd_young_quartile' 'ibd_middle_quartile' 'ibd_old_quartile'
 'tot_ibd_death' 'gi_or_hepatic_proc_index' 'blood_transfusion'
 'parenteral_or_enteral_index' 'ibd_procedures' 'tot_gi_or_hepatic_proc'
 'max_nrd_daystoevent' 'ibd_max_daystoevent' 'ibd_readm' 'ibd_tot_readm'
 'ibd_net_readm' 'ibd_colostomy_adm' 'tot_colostomy_adm'
 'ibd_ileostomy_adm' 'tot_ileoostomy_adm' 'ibd_smallbowelresect_adm'
 'tot_smallbowelresect_adm' 'ibd_colonresect_adm' 'tot_colonresect_adm'
 'ibd_localexcise_adm' 'tot_localexcise_adm' 'ibd_exlap_adm'
 'tot_exlap_adm' 'ibd_lysis_adm' 'tot_lysis_adm' 'tot_blood_transfusion'
 'tot_parenteral_or_enteral' 'tot_ibd_procedures' 'cc_mi' 'cc_chf'
 'cc_pervasc' 'cc_cvd' 'cc_dementia' 'cc_pulm' 'cc_rheumatic' 'cc_pud'
 'cc_mild_liver' 'cc_dm_wocomp' 'cc_dm_w_comp' 'cc_hemi_or_para'
 'cc_renal' 'cc_malignancy' 'cc_mod_severe_liver' 'cc_met_solidtumor'
 'cc_aids_hiv' 'cc_index' 'new_cc_index' 'fractures' 'thromboses'
 'tot_thromboses' 'unplanned_adm' 'tot_unplanned' 'pq1_dm_short'
 'pq2_perf_appendix' 'pq3_dm_long' 'pq5_copd_asthma' 'pq7_htn' 'cardiac'
 'pq8_chf' 'pq10_dehydrate' 'pq11_bacterialpna' 'pq12_uti' 'pq13_angina'
 'pq14_diabeteswocomp' 'pq15_asthma' 'pq16_dm_amputate' 'dm'
 'top_quintile_flag' 'ibd_young_quintile' 'ibd_middle_quintile'
 'ibd_old_quintile' 'dibd_young_quintile' 'dibd_middle_quintile'
 'dibd_old_quintile' 'top_ibd' 'top_decile_ibd' 'new_mi_adm' 'new_chf_adm'
 'new_unstableangina_adm' 'new_arrhythmia_adm' 'new_cardiacarrest_adm'
 'new_meningitis_adm' 'new_encephalitis_adm' 'new_endocarditis_adm'
 'new_pneumonia_adm' 'new_pyelonephritis_adm' 'new_osteo_adm'
 'new_septicemia_adm' 'new_cdiff_adm' 'new_tb_adm' 'new_atypicalmyco_adm'
 'new_fungal_adm' 'new_listeriosis_adm' 'new_leishmaniasis_adm'
 'new_pcp_adm' 'chronic_pain' 'ibd_surgery_adm' 'tot_surgery_adm'
 'tot_pq1' 'tot_pq2' 'tot_pq3' 'frailty_risk_score'
 'frailty_risk_category' 'frailty_risk_category_index' 'prevent_readm'
 'tot_prevent_readm' 'cardiac_adm' 'cvd_adm' 'resp_adm' 'infxn_adm'
 'gu_adm' 'gi_adm' 'endo_adm' 'neuro_adm' 'malignancies_adm'
 'fracture_adm' 'thrombosis_adm' 'ibd_specific_adm' 'others_adm'
 'ibd_index_discharge_date' 'readmission_time' 'was_readmitted'
 'died_in_sixmo' 'did_die_in_sixmo' 'unplanned_in_sixmo'
 'did_unplanned_in_sixmo' 'prevent_in_sixmo' 'did_prevent_in_sixmo'
 'proc_in_sixmo' 'did_proc_in_sixmo' 'surgery_in_sixmo'
 'did_surgery_in_sixmo' 'survtime' 'censor_readm' 'death_time'
 'censor_death' 'surgtime' 'censor_surg' 'severe_IBD_hospitalization'
 'severetime' 'censor_severe' 'severe_in_sixmo' 'did_severe_in_sixmo'
 '_st' '_d' '_t' '_t0' '_Iage_group_1' '_Iage_group_2' '_Inew_cc_in_1'
 '_Inew_cc_in_2' '_Ipayer_2' '_Ipayer_3' '_Ipayer_4' '_Izipinc_qr_2'
 '_Izipinc_qr_3' '_Izipinc_qr_4']

In [4]:
df['ibd_specific_adm']

0        0
1        0
2        0
3        1
4        1
        ..
94493    1
94494    0
94495    0
94496    0
94497    1
Name: ibd_specific_adm, Length: 94498, dtype: int64

In [5]:
# Check the top 5 rows
df.head(5)

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
# Make a copy of the dataframe
df_copy = df.copy()
df_copy.head()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,1,0.0,1.071937,1.0,6,2,853,30,...,0,1,0,1,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,0,0.0,1.071937,5.0,9,3,853,30,...,0,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
# Check the back end of the data
df_copy.tail()

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Iage_group_1,_Iage_group_2,_Inew_cc_in_1,_Inew_cc_in_2,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4
94493,94493,44,0,0.0,1.669010,6.0,6,2,331,30,...,1,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
94494,94494,44,0,0.0,1.669010,1.0,8,3,346,30,...,1,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
94495,94495,44,0,0.0,1.669010,1.0,8,3,393,30,...,1,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
94496,94496,52,0,0.0,1.863343,1.0,2,1,472,30,...,1,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0
94497,94497,72,1,0.0,1.771707,1.0,2,1,385,30,...,0,1,1,0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
# Check the data 
# Looks like the ibd_readm variables contains "NA" values

df_copy[['nrd_visitlink','ibd_index_hosp', 'dx1', 'new_mi_adm', 'ibd_readm']].head()

  nrd_visitlink  ibd_index_hosp    dx1  new_mi_adm  ibd_readm
0        00017u               1  00845           0          0
1        00017u               0   0389           0          1
2        00017u               0  03842           0          1
3        0004o5               1   5559           0          0
4        000dbz               1   5559           0          0

In [9]:
# # Recoding the ibd_readm outcome variable
# readm_set = set()
# for row in df_copy.itertuples():
#     if row.ibd_readm == 1:
#         readm_set.add(row.nrd_visitlink)
        
# readm_list = list(readm_set)

# df_copy.loc[df_copy.nrd_visitlink.isin(readm_list), 'ibd_readm'] = '1'
# df_copy[['nrd_visitlink','ibd_index_hosp', 'ibd_readm']].head(25)

# Recoding the ibd_readm outcome variable
readm_set = set()
for index, row in df_copy[['nrd_visitlink','ibd_readm']].iterrows():
    if row[1] == 1:
        readm_set.add(row[0])
        
readm_list = list(readm_set)

df_copy.loc[df_copy.nrd_visitlink.isin(readm_list), 'ibd_readm'] = '1'
df_copy[['nrd_visitlink','ibd_index_hosp', 'ibd_readm']].head(15)

   nrd_visitlink  ibd_index_hosp ibd_readm
0         00017u               1         1
1         00017u               0         1
2         00017u               0         1
3         0004o5               1         0
4         000dbz               1         1
5         000dbz               0         1
6         000dbz               0         1
7         000dbz               0         1
8         000dbz               0         1
9         000mgu               1         0
10        0018do               1         0
11        001nun               1         1
12        001nun               0         1
13        001nun               0         1
14        001nun               0         1

In [10]:
# df_copy['ibd_readm'] = df_copy['ibd_readm'].fillna(0)

df_copy[['nrd_visitlink', 'pay1', 'ibd_index_hosp', 'ibd_readm']].head(15)

   nrd_visitlink  pay1  ibd_index_hosp ibd_readm
0         00017u   1.0               1         1
1         00017u   1.0               0         1
2         00017u   1.0               0         1
3         0004o5   3.0               1         0
4         000dbz   1.0               1         1
5         000dbz   1.0               0         1
6         000dbz   1.0               0         1
7         000dbz   1.0               0         1
8         000dbz   1.0               0         1
9         000mgu   3.0               1         0
10        0018do   2.0               1         0
11        001nun   2.0               1         1
12        001nun   2.0               0         1
13        001nun   2.0               0         1
14        001nun   2.0               0         1

In [11]:
# Number of index hospitalizations
index_hosp_counts = df_copy['ibd_index_hosp'].value_counts()
index_hosp_counts

1    47402
0    47096
Name: ibd_index_hosp, dtype: int64

In [12]:
# Number of readmissions within six months
readm_counts = df_copy['ibd_readm'].value_counts()
readm_counts

1    64373
0    30125
Name: ibd_readm, dtype: int64

In [13]:
# Filter the data so that only patients with an index hospitalizations are in a DataFrame
readm_data_df = df_copy.loc[df_copy["ibd_index_hosp"] == 1, :]

# Check to ensure the filter worked correctly
readm_data_df["ibd_index_hosp"].count()

47402

In [18]:
# Create new features using isin function

# steroid use - V5865
readm_data_df['steroid_use'] = readm_data_df[['dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'dx7', 'dx8', 'dx9', 'dx10',
               'dx11', 'dx12', 'dx13', 'dx14', 'dx15', 'dx16', 'dx17', 'dx18', 'dx19',
               'dx20', 'dx21', 'dx22', 'dx23', 'dx24', 'dx25']].isin(['V5865']).any(axis=1).astype(int)

# abdominal pain - 78900
readm_data_df['abd_pain_adm'] = readm_data_df[['dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'dx7', 'dx8', 'dx9', 'dx10',
               'dx11', 'dx12', 'dx13', 'dx14', 'dx15', 'dx16', 'dx17', 'dx18', 'dx19',
               'dx20', 'dx21', 'dx22', 'dx23', 'dx24', 'dx25']].isin(['78900']).any(axis=1).astype(int)

# acute kidney injury - 5849
readm_data_df['aki_adm'] = readm_data_df[['dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'dx7', 'dx8', 'dx9', 'dx10',
               'dx11', 'dx12', 'dx13', 'dx14', 'dx15', 'dx16', 'dx17', 'dx18', 'dx19',
               'dx20', 'dx21', 'dx22', 'dx23', 'dx24', 'dx25']].isin(['5849']).any(axis=1).astype(int)

# gi bleed - 5789
readm_data_df['gi_bleed_adm'] = readm_data_df[['dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'dx7', 'dx8', 'dx9', 'dx10',
               'dx11', 'dx12', 'dx13', 'dx14', 'dx15', 'dx16', 'dx17', 'dx18', 'dx19',
               'dx20', 'dx21', 'dx22', 'dx23', 'dx24', 'dx25']].isin(['5789']).any(axis=1).astype(int)

readm_data_df.head(25)

,index,age,aweekend,died,discwt,dispuniform,dmonth,dqtr,drg,drgver,...,_Ipayer_2,_Ipayer_3,_Ipayer_4,_Izipinc_qr_2,_Izipinc_qr_3,_Izipinc_qr_4,steroid_use,abd_pain_adm,aki_adm,gi_bleed_adm
0,0,89,1,0.0,1.071937,5.0,3,1,372,30,...,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
3,3,48,0,0.0,3.063669,1.0,6,2,330,30,...,1.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0
4,4,65,0,0.0,1.919980,1.0,5,2,387,30,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0
9,9,51,0,0.0,2.958993,1.0,3,1,354,30,...,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
10,10,22,0,0.0,3.109660,1.0,1,1,330,30,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0
11,11,33,1,0.0,1.061258,1.0,1,1,313,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
19,19,84,0,0.0,2.155742,6.0,5,2,690,30,...,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
22,22,62,0,0.0,1.863343,5.0,2,1,853,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
23,23,40,0,0.0,1.509554,1.0,3,1,389,30,...,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0,0
30,30,68,1,0.0,2.148695,6.0,5,2,854,30,...,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1,0
31,31,25,1,0.0,2.079331,1.0,2,1,385,30,...,0.0,0.0,1.0,0.0,0.0,0.0,0,0,0,0
32,32,82,0,0.0,1.814426,6.0,5,2,247,30,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,1,0
33,33,68,1,0.0,1.954297,5.0,2,1,557,30,...,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0
38,38,60,0,0.0,3.040344,1.0,1,1,385,30,...,1.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0
39,39,40,0,0.0,1.682603,1.0,3,1,385,30,...,0.0,1.0,0.0,0.0,0.0,1.0,0,1,0,0
40,40,35,0,0.0,2.178508,1.0,6,2,392,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
41,41,59,0,0.0,2.844541,6.0,1,1,329,30,...,1.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0
42,42,85,0,0.0,1.583688,7.0,5,2,280,30,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,1,0
43,43,86,0,0.0,1.460299,5.0,4,2,551,30,...,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
46,46,57,0,0.0,1.915529,1.0,4,2,191,30,...,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
47,47,70,0,0.0,2.630627,1.0,6,2,644,30,...,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
51,51,26,0,0.0,3.199971,6.0,1,1,758,30,...,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0,0
55,55,57,0,0.0,1.442527,1.0,3,1,872,30,...,1.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0
56,56,26,0,0.0,3.202553,1.0,1,1,386,30,...,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0
58,58,69,1,0.0,5.725444,1.0,3,1,871,30,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0

### Export to csv for Tableau

In [ ]:
# # export to CSV

# readm_data_df.to_csv("IBD_readm_data_for_Tableau.csv")

In [ ]:
# # Number of rows with null values
# readm_data_df.isna().sum()

In [ ]:
# Drop all rows with null values
# readm_data_df_clean = readm_data_df.dropna(axis='columns')

# # Check the data
# print(readm_data_df["ibd_index_hosp"].count())
# print('-' * 15)

# # Check the data 
# print(readm_data_df.head(15))
# print('-' * 15)

# # Check the data 
# print(readm_data_df.tail(15))
# print('-' * 15)

In [ ]:
# print(readm_data_df.columns.values)
# # readm_data_df_clean

In [ ]:
# Check top_decile_ibd --> patients who are in the top ten percent of utilizers
# readm_data_df[['ibd_index_hosp', 'ibd_readm', 'top_ibd']]
# readm_data_df[['ibd_index_hosp', 'top_ibd', 'top_decile_ibd']].head(20)

In [ ]:
# List of all the variables in the dataset
['age',
 'female',
 'los',
 'aweekend',
 'elective',
 'orproc',
 'hosp_urban_rural_location',
 'payer',
 'zipinc_qrtl',
 'severe_IBD_hospitalization',
 'cm_aids',
 'cm_alcohol',
 'cm_anemdef',
 'cm_arth',
 'cm_bldloss',
 'cm_chf',
 'cm_chrnlung',
 'cm_depress',
 'cm_coag',
 'cm_dm',
 'cm_dmcx',
 'cm_drug',
 'cm_htn_c',
 'cm_hypothy',
 'cm_liver',
 'cm_lymph',
 'cm_lytes',
 'cm_mets',
 'cm_neuro',
 'cm_obese',
 'cm_para',
 'cm_perivasc',
 'cm_psych',
 'cm_pulmcirc',
 'cm_renlfail',
 'cm_tumor',
 'cm_ulcer',
 'cm_valve',
 'cm_wghtloss',
 'diabetes',
 'copd',
 'cm_smoking',
 'blood_transfusion',
 'ibd_procedures',
 'cc_index',
 'new_cc_index',
 'fractures',
 'thromboses',
 'unplanned_adm',
 'pq1_dm_short',
 'pq2_perf_appendix',
 'pq3_dm_long',
 'pq5_copd_asthma',
 'pq7_htn',
 'pq8_chf',
 'pq10_dehydrate',
 'pq11_bacterialpna',
 'pq12_uti',
 'pq13_angina',
 'pq14_diabeteswocomp',
 'pq15_asthma',
 'pq16_dm_amputate',
 'new_mi_adm',
 'new_chf_adm',
 'new_unstableangina_adm',
 'new_arrhythmia_adm',
 'new_cardiacarrest_adm',
 'new_meningitis_adm',
 'new_encephalitis_adm',
 'new_endocarditis_adm',
 'new_pneumonia_adm',
 'new_pyelonephritis_adm',
 'new_osteo_adm',
 'new_septicemia_adm',
 'new_cdiff_adm',
 'new_tb_adm',
 'new_atypicalmyco_adm',
 'new_fungal_adm',
 'new_listeriosis_adm',
 'new_leishmaniasis_adm',
 'new_pcp_adm',
 'chronic_pain',
 'ibd_surgery_adm',
 'frailty_risk_score',
 'frailty_risk_category',
 'frailty_risk_category_index',
 'h_contrl',
 'hosp_bedsize',
 'hosp_ur_teach',
 'hosp_urcat4',
 'prevent_readm',
 'cardiac_adm',
 'cvd_adm',
 'resp_adm',
 'infxn_adm',
 'gu_adm',
 'gi_adm',
 'endo_adm',
 'neuro_adm',
 'malignancies_adm',
 'fracture_adm',
 'thrombosis_adm',
 'ibd_specific_adm',
 'others_adm']

### Grabbing the features

In [ ]:
# Grab the features

# Model 1
# data = readm_data_df[['age', 'zipinc_qrtl', 'female', 'hosp_bedsize', 'h_contrl', 'hosp_urcat4', 
#                       'hosp_ur_teach', 'aweekend', 'elective', 'los', 'payer', 'cc_index', 'frailty_risk_score', 
#                       'prevent_readm', 'cardiac_adm', 'cvd_adm', 'resp_adm', 'infxn_adm', 'gu_adm', 'gi_adm', 'endo_adm', 
#                       'neuro_adm', 'malignancies_adm', 'fracture_adm', 'thrombosis_adm', 'ibd_specific_adm', 'others_adm',
#                       'severe_IBD_hospitalization', 'ibd_readm']]

# Model 2
# data = readm_data_df[['age', 'frailty_risk_score', 'los', 'zipinc_qrtl', 'cc_index', 'ibd_readm']]

# Model 3
# data = readm_data_df[['age', 'frailty_risk_score', 'los', 'zipinc_qrtl', 'ibd_specific_adm', 'infxn_adm', 'new_cdiff_adm',
#                       'hosp_bedsize', 'h_contrl', 'payer', 'cc_index', 'hosp_urcat4', 'ibd_readm']]

# Model 4
# data = readm_data_df[['age', 'frailty_risk_score', 'los', 'cc_index', 'steroid_use', 'aki_adm', 'abd_pain_adm', 'ibd_readm']]

# Model 5
# data = readm_data_df[['age', 'female', 'aweekend', 'frailty_risk_score', 'los', 'cc_index', 'steroid_use', 'aki_adm', 'abd_pain_adm', 'ibd_readm']]

# Model 6
# data = readm_data_df[['ibd_readm','age', 'frailty_risk_score', 'los', 'zipinc_qrtl', 'payer', 'hosp_bedsize', 'h_contrl', 'hosp_urcat4', 'hosp_ur_teach', 
#                       'cc_index', 'female', 'cm_htn_c', 'ibd_procedures', 'cm_smoking', 'aweekend', 'ibd_specific_adm', 'diabetes', 'cm_depress', 'orproc', 
#                       'thromboses']]

# # Model 7
# data = readm_data_df[['age', 'female', 'aweekend', 'frailty_risk_score', 'los', 'cc_index', 'zipinc_qrtl', 'payer', 'ibd_specific_adm', 'infxn_adm', 
#                       'new_cdiff_adm', 'steroid_use', 'aki_adm', 'abd_pain_adm', 'ibd_readm']]

# Model 8
data = readm_data_df[['ibd_readm','age', 'frailty_risk_score', 'los', 'zipinc_qrtl', 'payer', 'hosp_bedsize', 'h_contrl', 'hosp_urcat4', 'hosp_ur_teach', 
                      'cc_index', 'female', 'cm_htn_c', 'ibd_procedures', 'cm_smoking', 'aweekend', 'ibd_specific_adm', 'diabetes', 'cm_depress', 
                      'thromboses', 'new_cdiff_adm', 'steroid_use', 'aki_adm', 'abd_pain_adm']]

cleaned_data = data.dropna(axis='rows')
cleaned_data

In [ ]:
# Correlation matrix
corrMatrix = data.corr()
# Generating a heatmap
import seaborn as sn
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(30,30))   # Sample figsize in inches
sn.heatmap(corrMatrix, annot=True)
plt.show()

In [ ]:
# Grab outcome/label names after dropping na's/rows with na's
target = cleaned_data["ibd_readm"]
target_names = ["none", "readmitted"]
target = target.astype('int64')
target

In [ ]:
# Grab feature names after dropping na's/rows with na
cleaned_data_wo_outcome = cleaned_data.drop('ibd_readm', axis=1)
featured_names = cleaned_data_wo_outcome.columns
featured_names

In [ ]:
# Check for na values
cleaned_data_wo_outcome.isnull().sum()

In [ ]:
# Show rows where the null values are 
# Data check
# check_data = readm_data_df[['nrd_visitlink', 'ibd_index_hosp', 'ibd_readm', 'age', 'zipinc_qrtl', 'female', 'los', 'pay1', 'new_cc_index', 'frailty_risk_score']]
# check_data[check_data.isna().any(axis=1)]

In [ ]:
# # Change one of the variables

# from sklearn.preprocessing import LabelEncoder

# # Step 1: Label-encode data set
# label_encoder = LabelEncoder()
# label_encoder.fit(y)
# encoded_y = label_encoder.transform(y)

### Using traditional train-test split

In [ ]:
# # Set up training and testing datasets

# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(cleaned_data_wo_outcome, target, random_state=42)

In [ ]:
# Build the random forrest classifier

# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(X_train, y_train)
# clf.score(X_test, y_test)

### Using k-fold cross-validation

In [ ]:
# Hypertuning parameers with Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200)

rf.fit(X_train, y_train)

print(f'Training Score: {rf.score(X_train, y_train)}')
print(f'Testing Score: {rf.score(X_test, y_test)}')

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cleaned_data_wo_outcome, target, random_state=42)

rf.fit(X_train, y_train)

# Hypertuning parameters
from sklearn.model_selection import GridSearchCV
param_grid = {'n_estimators': [50, 100, 150, 200],
              'max_depth': [5, 10, 15]}

grid = GridSearchCV(rf,param_grid, verbose=3)

In [ ]:
# Printing out the grid for hypertuning
grid.fit(X_train, y_train)

In [ ]:
# Print the best depth and estimator
print(grid.best_params_)
print(grid.best_score_)

In [ ]:
# Check the training and testing scores
print(f'Training Score: {grid.score(X_train, y_train)}')
grid.predict(X_test)
print(f'Testing Score: {grid.score(X_test, y_test)}')

In [ ]:
# Check the feature importance
sorted(zip(rf.feature_importances_, X_train), reverse=True)

In [ ]:
# Set up training and testing datasets for ROC curves

#Making the ROC curves

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

randomforrest_roc_auc = roc_auc_score(y_test.values, clf.predict(X_test))
fpr, tpr, thresholds = roc_curve(y_test.values, clf.predict_proba(X_test)[:,1])

In [ ]:
# Plotting the ROC curves

import matplotlib.pyplot as plt
plt.figure()
plt.plot(fpr, tpr, label='Classification Decision Tree (area = %0.2f)' % randomforrest_roc_auc)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Classification_Random_Forest_ROC')
plt.show()

In [ ]:
# K-fold validation

# Build the decision tree first

# clf = tree.DecisionTreeClassifier(splitter = "best", max_features = "auto", max_depth = 6)
# clf = tree.DecisionTreeClassifier(splitter = "best", criterion = "entropy", max_depth = 6)
clf = tree.DecisionTreeClassifier(splitter = "best", max_depth = 5)

import sklearn
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics

scores = cross_validate(clf, cleaned_data_wo_outcome, target, cv=10,
                        scoring=('roc_auc', 'precision','recall', ),
                        return_train_score=True)
print(scores)

In [ ]:
# # Fit the model on the test dataset and evaluate the output

# from sklearn.ensemble import RandomForestClassifier
# rf = RandomForestClassifier(n_estimators=200)
# rf = rf.fit(X_train, y_train)
# rf.score(X_test, y_test)

In [ ]:
# # Evaluate the features of the model

# sorted(zip(rf.feature_importances_, featured_names), reverse=True)

### Using Gradient Boosted Decision Tree

In [ ]:
# XGBClassifier
from sklearn import  metrics, model_selection
from xgboost.sklearn import XGBClassifier
params = {
    'objective': 'binary:logistic',
    'max_depth': 3,
    'learning_rate': 0.2,
    'silent': 1.0,
    'n_estimators': 125,
    'min_child_weight': 0.68,
    'gamma': 2.5
}
model = XGBClassifier(**params).fit(X_train, y_train)

import sklearn
from sklearn.model_selection import cross_val_score
from sklearn import metrics
scores = cross_val_score(model, data, target, cv=10, scoring='accuracy')
print(scores)
print(f"Average score: {scores.mean()}, Stdev: {scores.std()}")

In [ ]:
# Set up training and testing datasets for ROC curves

#Making the ROC curves

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cleaned_data_wo_outcome, target, random_state=42)

model.fit(X_train, y_train)

boosted_roc_auc = roc_auc_score(y_test.values, model.predict(X_test))
fpr, tpr, thresholds = roc_curve(y_test.values, model.predict_proba(X_test)[:,1])

In [ ]:

# use the model to make predictions with the test data
y_pred = model.predict(X_test)
# how did our model perform?
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

### Using logistic regression

In [ ]:
# Using logistic regression and k-fold validation
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

import sklearn
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics

scores = cross_validate(classifier, cleaned_data_wo_outcome, target, cv=10,
                        scoring=('roc_auc', 'precision','recall', 'accuracy'),
                        return_train_score=True)
print(scores)

In [ ]:
#Making the ROC curves
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

# Set up training and testing datasets for ROC curves

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cleaned_data_wo_outcome, target, random_state=42)

classifier.fit(X_train, y_train)

logistic_roc_auc = roc_auc_score(y_test.values, classifier.predict(X_test))
fpr, tpr, thresholds = roc_curve(y_test.values, classifier.predict_proba(X_test)[:,1])

In [ ]:
# Plotting the ROC curves

import matplotlib.pyplot as plt
plt.figure()
plt.plot(fpr, tpr, label='Classification Logistic Regression (area = %0.2f)' % logistic_roc_auc)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Classification_Logistic_Regression_ROC')
plt.show()

### Using support vector machine

In [ ]:
# Support vector machine linear classifier
from sklearn.svm import SVC 

model = SVC(kernel='linear')
model.fit(cleaned_data_wo_outcome, target)

import sklearn
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics

scores = cross_validate(model, cleaned_data_wo_outcome, target, cv=10,
                        scoring=('roc_auc', 'precision','recall', 'accuracy'),
                        return_train_score=True)

print(scores)

In [ ]:
# Set up training and testing datasets for ROC curves
from sklearn.svm import SVC 

model = SVC(kernel='linear')
model.fit(cleaned_data_wo_outcome, target)

#Making the ROC curves
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

# Set up training and testing datasets for ROC curves

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cleaned_data_wo_outcome, target, random_state=42)

model.fit(X_train, y_train)

In [ ]:
svm_roc_auc = roc_auc_score(y_test.values, model.predict(X_test))
fpr, tpr, thresholds = roc_curve(y_test.values, model.predict_proba(X_test)[:,1])

In [ ]:
# Plotting the ROC curves

import matplotlib.pyplot as plt
plt.figure()
plt.plot(fpr, tpr, label='Support Vector Machine (area = %0.2f)' % logistic_roc_auc)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('SVM_ROC')
plt.show()

In [ ]:
# # Model Accuracy
# print('Test Acc: %.3f' % model.score(X_test, y_test))

In [ ]:
# # Calculate classification report
# from sklearn.metrics import classification_report
# predictions = model.predict(X_test)
# print(classification_report(y_test, predictions,
#                             target_names=target_names))

In [ ]:
# from sklearn import tree
# import graphviz 
# dot_data = tree.export_graphviz(clf, out_file=None, 
#                   feature_names=new_feature_names,  
#                       class_names=target_names,  
#                       filled=True, rounded=True)  
# #                      special_characters=False)

# graph = graphviz.Source(dot_data)  
# graph